@mixin fonts {
  @each $font in $fonts {
    @font-face {
      font-family: '#{$font}';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/#{$font}/#{$font}.woff2') format('woff2'),
        url('/fonts/#{$font}/#{$font}.woff') format('woff'),
        url('/fonts/#{$font}/#{$font}.otf') format('opentype');
    }
  }
}
