$colors: (
  white: rgba(255, 255, 255, 1),
  black: rgba(0, 0, 0, 1)
);

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
  mdpi: 1280px,
  hidpi: 1440px
);

$fonts: ('GothamUltra');

$font-styles: ();
