@import 'vendors';
@import 'utils';
@include fonts();

:root {
  --font-gotham-ultra: 'GothamUltra', sans-serif;

  // to fix
  // @include colors();

  --c-black: rgba(0, 0, 0, 1);
  --c-white: rgba(255, 255, 255, 1);
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#__nuxt,
#__layout,
#__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}
