@import 'vendors';
@import 'utils';
@include fonts();

:root {
  --font-gotham-ultra: 'GothamUltra', sans-serif;

  // to fix
  // @include colors();

  --c-black: rgba(0, 0, 0, 1);
  --c-white: rgba(255, 255, 255, 1);

  --c-primary: var(--c-black);
  --c-secondary: var(--c-white);
}

html {
  height: 100%;
  width: 100%;
  @include media('>m') {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#__nuxt,
#__layout,
#__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

html,
body {
  overscroll-behavior: none;
}

html {
  height: 100%;
  width: 100%;
  @include media('>m') {
    overflow: hidden;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#__nuxt,
#__layout,
#__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

body {
  background-color: var(--c-primary);
  color: var(--c-secondary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
